<div class="container">

 <div class="row m-2 align-items-center">
   <div class="col-auto">
     <h3 class="mb-0"><i class="fas fa-heartbeat text-primary"></i> Monitoring agent <span id="idAgentMonitorTitle"></span></h3>
   </div>
   <div class="col-auto ms-auto d-flex align-items-center gap-2 flex-wrap justify-content-end">
     <button type="button" onclick="Agent_monitor_refresh()" class="btn btn-outline-secondary"><i class="fas fa-redo"></i> Refresh</button>
     <button type="button" id="idAgentMonitorTest" onclick="Agent_monitor_test()" class="btn btn-outline-warning" disabled><i class="fas fa-vial"></i> Test</button>
     <a id="idAgentMonitorIoLink" class="btn btn-primary" href="#"><i class="fas fa-cogs"></i> Configurer</a>
     <div class="input-group input-group-sm flex-nowrap" style="width: 18rem;">
       <span class="input-group-text bg-white"><i class='fas fa-clock text-primary'></i></span>
       <select id='idAgentMonitorPeriod' class='form-select'></select>
     </div>
   </div>
 </div>

 <hr>

 <div class="row g-2 m-1">
   <div class="col-12 col-md-6 col-lg-3">
     <div class="card border-info">
       <div class="card-header">Server</div>
       <div class="card-body"><span id="idAgentMonitorServerHostname">-</span></div>
     </div>
   </div>
   <div class="col-12 col-md-6 col-lg-3">
     <div class="card border-info">
       <div class="card-header">Heartbeat time</div>
       <div class="card-body"><span id="idAgentMonitorHeartbeat">-</span></div>
     </div>
   </div>
   <div class="col-12 col-md-6 col-lg-3">
     <div class="card border-info">
       <div class="card-header">Status</div>
       <div class="card-body"><span id="idAgentMonitorStatus">-</span></div>
     </div>
   </div>
   <div class="col-12 col-md-6 col-lg-3">
     <div class="card border-info">
       <div class="card-header">Start time</div>
       <div class="card-body"><span id="idAgentMonitorStartTime">-</span></div>
     </div>
   </div>
 </div>

 <div class="row g-2 m-1 mt-2">
   <div class="col-12 col-lg-6">
     <div class="card border-info">
       <div class="card-header">MQTT API</div>
       <div class="card-body"><span id="idAgentMonitorMqttApi">-</span></div>
     </div>
   </div>
   <div class="col-12 col-lg-6">
     <div class="card border-info">
       <div class="card-header">MQTT Local</div>
       <div class="card-body"><span id="idAgentMonitorMqttLocal">-</span></div>
     </div>
   </div>
 </div>

 <hr>

 <div class="row p-1 justify-content-center">
   <canvas id="idAgentCourbeMaxRss" class="courbe-dashboard border border-info"></canvas>
 </div>

 <div class="row p-1 justify-content-center">
   <canvas id="idAgentCourbeTourParSec" class="courbe-dashboard border border-info"></canvas>
 </div>

 <div class="row p-1 justify-content-center">
   <canvas id="idAgentCourbeLogParMin" class="courbe-dashboard border border-info"></canvas>
 </div>

 <hr>

 <div class="row m-2 align-items-center">
   <div class="col-auto">
     <h4 class="mb-0"><i class="fas fa-wave-square text-primary"></i> AI embarquées</h4>
   </div>
   <div class="col-auto ms-auto">
     <button type="button" onclick="Agent_monitor_refresh_ai()" class="btn btn-outline-secondary"><i class="fas fa-redo"></i> Refresh AI</button>
   </div>
 </div>

 <table id="idTableAgentAI" class="table table-striped table-bordered table-hover">
   <thead class="table-dark">
   </thead>
   <tbody>
   </tbody>
 </table>

</div>
