<div class="container">

 <div id="idAgentHeader"></div>

 <div class="row m-2 align-items-center">
   <div class="col-auto ms-auto btn-group align-items-center">
     <button type="button" onclick="AGENTPARAMS_Refresh()" class="btn btn-outline-secondary"><i class="fas fa-redo"></i> Annuler les modifications</button>
     <button id="idAgentParamsValider" type="button" onclick="AGENTPARAMS_Set()" class="btn btn-primary"><i class="fas fa-save"></i> Enregistrer</button>
   </div>
 </div>

 <hr>

 <div class="row justify-content-center">
   <div class="col-12 col-lg-8" id="idAgentParamsForm"></div>
 </div>

</div>
