    <div class="container">

<hr>

<!------------------------------------------------ Card de liaison ------------------------------------------------------------>
       <div class="card m-1 shadow">
         <div class="card-header"> <i class="fas fa-pen text-primary"></i> <label>Ajouter un agent</label> </div>
         <div class="card-body">

           <div class="row mb-2 align-items-center">
             <label class="col-12 col-sm-4 col-form-label text-sm-end">Installation Debian/Raspbian</label>
             <div class="col-12 col-sm-8">
               <textarea id="idAGENTLinkDebian" readonly rows="5" type="text" class="form-control" placeholder="Commands to install on Debian/Raspbian"></textarea>
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-12 col-sm-4 col-form-label text-sm-end">Installation Fedora/RHEL</label>
             <div class="col-12 col-sm-8">
               <textarea id="idAGENTLinkFedora" readonly rows="5" type="text" class="form-control" placeholder="Commands to install on Fedora/RHEL"></textarea>
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-12 col-sm-4 col-form-label text-sm-end">Liaison agent-domaine</label>
             <div class="col-12 col-sm-8">
               <textarea id="idAGENTLinkDomain" readonly rows="3" type="text" class="form-control" placeholder="Commands to link agent to domain"></textarea>
             </div>
           </div>

         </div>
       </div>

<!-- Container -->
</div>
