<div class="container-fluid">

 <div class="row m-2">
   <div class="col-auto ms-auto btn-group align-items-center">
        <button type="button" onclick="METEO_Add()" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter un agent</button>
        <button type="button" onclick="METEO_Refresh()" class="btn btn-outline-secondary"><i class="fas fa-redo"></i> Refresh</button>
   </div>
 </div>

<hr>

     <table id="idTableMETEO" class="table table-striped table-bordered table-hover">
       <thead class="table-dark">
       </thead>
       <tbody>
       </tbody>
     </table>

<!-- Container -->
</div>

<!------------------------------------------------- Modal Edition configuration ----------------------------------------------->
<div id="idMETEOEdit" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title text-justify"><i class="fas fa-pen"></i> <span id="idMETEOTitre"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">

       <div class="row mb-2 align-items-center">
         <label class="col-5 col-sm-4 col-form-label text-end">Serveur de l'agent</label>
         <div class="col-7 col-sm-8">
           <select id="idTargetServer" class="form-select border-info"></select>
         </div>
       </div>

       <div class="row mb-2 align-items-center">
         <label class="col-5 col-sm-4 col-form-label text-end">Tech_ID</label>
         <div class="col-7 col-sm-8">
           <input id="idMETEOTechID" type="text" class="form-control" maxlength="32" placeholder="Tech_ID de l'agent METEO">
         </div>
       </div>

       <div class="row mb-2 align-items-center">
         <label class="col-5 col-sm-4 col-form-label text-end">Token API</label>
         <div class="col-7 col-sm-8">
           <input id="idMETEOToken" type="text" class="form-control" placeholder="Token API METEO Concept">
         </div>
       </div>

       <div class="row mb-2 align-items-center">
         <label class="col-5 col-sm-4 col-form-label text-end">Code Insee Commune</label>
         <div class="col-7 col-sm-8">
           <div class="row g-2 align-items-center">
             <div class="col">
               <input id="idMETEOCodeInsee" type="text" class="form-control" placeholder="Code Insee de la commune">
             </div>
             <div class="col-12 col-sm-auto">
               <a target="_blank" href="https://api.meteo-concept.com/login" class="btn btn-outline-info btn-sm">Creer un token</a>
             </div>
           </div>
         </div>
       </div>

       <div class="row mb-2 align-items-center">
         <label class="col-5 col-sm-4 col-form-label text-end">Description</label>
         <div class="col-7 col-sm-8">
           <input id="idMETEODescription" type="text" class="form-control" placeholder="Description de la source">
         </div>
       </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Annuler</button>
        <button id="idMETEOValider" type="button" class="btn btn-primary"><i class="fas fa-save"></i> Valider</button>
      </div>
    </div>
  </div>
</div>
