<div class="container-fluid">
 <div class="row m-2 align-items-center">
  <div class="col-auto"><h3 class="mb-0">Configuration I/O Modbus <span id="idMODBUSCONFTitle"></span></h3></div>
  <div class="col-auto ms-auto btn-group align-items-center"><button type="button" onclick="Redirect('/agents/modbus')" class="btn btn-outline-secondary"><i class="fas fa-list"></i> Retour à la liste</button><button type="button" onclick="MODBUSCONF_Refresh()" class="btn btn-outline-secondary"><i class="fas fa-redo"></i> Refresh</button></div>
 </div>
 <hr>
 <ul class="nav nav-tabs" role="tablist">
  <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#idTabEntreeTor">Entrées TOR</a></li>
  <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#idTabEntreeAna">Entrées ANA</a></li>
  <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#idTabSortieTor">Sorties TOR</a></li>
  <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#idTabSortieAna">Sorties ANA</a></li>
 </ul>
 <div class="tab-content">
  <div id="idTabEntreeTor" class="tab-pane fade mt-1 show active"><table id="idTableMODBUS_DI" class="table table-striped table-bordered table-hover w-100"><thead class="table-dark"></thead><tbody></tbody></table></div>
  <div id="idTabEntreeAna" class="tab-pane fade mt-1"><table id="idTableMODBUS_AI" class="table table-striped table-bordered table-hover w-100"><thead class="table-dark"></thead><tbody></tbody></table></div>
  <div id="idTabSortieTor" class="tab-pane fade mt-1"><table id="idTableMODBUS_DO" class="table table-striped table-bordered table-hover w-100"><thead class="table-dark"></thead><tbody></tbody></table></div>
  <div id="idTabSortieAna" class="tab-pane fade mt-1"><table id="idTableMODBUS_AO" class="table table-striped table-bordered table-hover w-100"><thead class="table-dark"></thead><tbody></tbody></table></div>
 </div>
</div>

<div id="idMODBUSDIEdit" class="modal fade" tabindex="-1" role="dialog"><div class="modal-dialog modal-dialog-centered modal-lg" role="document"><div class="modal-content">
 <div class="modal-header bg-info text-white"><h5 class="modal-title"><i class="fas fa-pen"></i> <span id="idMODBUSDIEditTitre"></span></h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
 <div class="modal-body">
  <input id="idMODBUSDIId" type="hidden">
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Description</label><div class="col-7 col-sm-8"><input id="idMODBUSDILibelle" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Borne</label><div class="col-7 col-sm-8"><input id="idMODBUSDIBorne" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">ED</label><div class="col-7 col-sm-8"><input id="idMODBUSDIED" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Archivage</label><div class="col-7 col-sm-8"><select id="idMODBUSDIArchivage" class="form-select"></select></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Flip</label><div class="col-7 col-sm-8"><select id="idMODBUSDIFlip" class="form-select"><option value="0">Non - logique normale</option><option value="1">Oui - logique inversée</option></select></div></div>
 </div>
 <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Annuler</button><button id="idMODBUSDIValider" type="button" class="btn btn-primary"><i class="fas fa-save"></i> Valider</button></div>
</div></div></div>

<div id="idMODBUSDOEdit" class="modal fade" tabindex="-1" role="dialog"><div class="modal-dialog modal-dialog-centered modal-lg" role="document"><div class="modal-content">
 <div class="modal-header bg-info text-white"><h5 class="modal-title"><i class="fas fa-pen"></i> <span id="idMODBUSDOEditTitre"></span></h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
 <div class="modal-body">
  <input id="idMODBUSDOId" type="hidden">
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Description</label><div class="col-7 col-sm-8"><input id="idMODBUSDOLibelle" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Borne</label><div class="col-7 col-sm-8"><input id="idMODBUSDOBorne" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">ED</label><div class="col-7 col-sm-8"><input id="idMODBUSDOED" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Archivage</label><div class="col-7 col-sm-8"><select id="idMODBUSDOArchivage" class="form-select"></select></div></div>
 </div>
 <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Annuler</button><button id="idMODBUSDOValider" type="button" class="btn btn-primary"><i class="fas fa-save"></i> Valider</button></div>
</div></div></div>

<div id="idMODBUSAIEdit" class="modal fade" tabindex="-1" role="dialog"><div class="modal-dialog modal-dialog-centered modal-lg" role="document"><div class="modal-content">
 <div class="modal-header bg-info text-white"><h5 class="modal-title"><i class="fas fa-pen"></i> <span id="idMODBUSAIEditTitre"></span></h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
 <div class="modal-body">
  <input id="idMODBUSAIId" type="hidden">
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Description</label><div class="col-7 col-sm-8"><input id="idMODBUSAILibelle" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Borne</label><div class="col-7 col-sm-8"><input id="idMODBUSAIBorne" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">ED</label><div class="col-7 col-sm-8"><input id="idMODBUSAIED" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Archivage</label><div class="col-7 col-sm-8"><select id="idMODBUSAIArchivage" class="form-select"></select></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Type de borne</label><div class="col-7 col-sm-8"><select id="idMODBUSAITypeBorne" class="form-select"></select></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Valeur mini</label><div class="col-7 col-sm-8"><input id="idMODBUSAIMin" type="number" step="any" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Valeur maxi</label><div class="col-7 col-sm-8"><input id="idMODBUSAIMax" type="number" step="any" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Unité</label><div class="col-7 col-sm-8"><input id="idMODBUSAIUnite" type="text" class="form-control"></div></div>
 </div>
 <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Annuler</button><button id="idMODBUSAIValider" type="button" class="btn btn-primary"><i class="fas fa-save"></i> Valider</button></div>
</div></div></div>

<div id="idMODBUSAOEdit" class="modal fade" tabindex="-1" role="dialog"><div class="modal-dialog modal-dialog-centered modal-lg" role="document"><div class="modal-content">
 <div class="modal-header bg-info text-white"><h5 class="modal-title"><i class="fas fa-pen"></i> <span id="idMODBUSAOEditTitre"></span></h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
 <div class="modal-body">
  <input id="idMODBUSAOId" type="hidden">
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Description</label><div class="col-7 col-sm-8"><input id="idMODBUSAOLibelle" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Borne</label><div class="col-7 col-sm-8"><input id="idMODBUSAOBorne" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">ED</label><div class="col-7 col-sm-8"><input id="idMODBUSAOED" type="text" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Archivage</label><div class="col-7 col-sm-8"><select id="idMODBUSAOArchivage" class="form-select"></select></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Type de borne</label><div class="col-7 col-sm-8"><select id="idMODBUSAOTypeBorne" class="form-select"></select></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Valeur mini</label><div class="col-7 col-sm-8"><input id="idMODBUSAOMin" type="number" step="any" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Valeur maxi</label><div class="col-7 col-sm-8"><input id="idMODBUSAOMax" type="number" step="any" class="form-control"></div></div>
  <div class="row mb-2 align-items-center"><label class="col-5 col-sm-4 col-form-label text-end">Unité</label><div class="col-7 col-sm-8"><input id="idMODBUSAOUnite" type="text" class="form-control"></div></div>
 </div>
 <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Annuler</button><button id="idMODBUSAOValider" type="button" class="btn btn-primary"><i class="fas fa-save"></i> Valider</button></div>
</div></div></div>
