    <div class="container">

<hr>

<!------------------------------------------------ Card de liaison ------------------------------------------------------------>
       <div class="card m-1 shadow">
         <div class="card-header"> <i class="fas fa-pen text-primary"></i> <label>Ajouter un agent</label> </div>
         <div class="card-body">

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">Pour un agent natif</label>
             <div class="col-8">
               <textarea id="idAGENTLinkNatif" readonly rows="6" type="text" class="form-control" placeholder="Command to link agent"></textarea>
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">Pour un agent en container</label>
             <div class="col-8">
               <textarea id="idAGENTLinkPodman" readonly rows="6" type="text" class="form-control" placeholder="Command to link agent"></textarea>
             </div>
           </div>

         </div>
       </div>

<!-- Container -->
</div>
