    <div class="container">

<hr>


<!-- Encadré Maintenance D.L.S Tech_ID ---------------------------------------------------------------------------------------->

       <div class="card m-1 shadow">
         <div class="card-header"> <i class="fas fa-code text-warning"></i> <label>Renommer un Module D.L.S</label> </div>
         <div class="card-body">

           <div class="row mb-2 align-items-center">
             <label class="col-6 col-form-label">Tech_ID source</label>
             <div class="col-6">
               <input id="idDomainDLSRenameDLSTechIDOLD" type="text" class="form-control" placeholder="Tech_id source">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-6 col-form-label">Tech_ID destination</label>
             <div class="col-6">
               <input id="idDomainDLSRenameDLSTechIDNEW" type="text" class="form-control" placeholder="Tech_id destination">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <div class="col-sm-6 d-none d-sm-block"></div>
             <div class="col-12 col-sm-6">
               <button id="idDomainDLSRenameDLSButton" type="button" class="btn w-100 btn-warning"><i class="fas fa-message"></i> Renommer DLS</button>
             </div>
           </div>

         </div>
 </div>

<!-- Encadré Maintenance D.L.S Bit -------------------------------------------------------------------------------------------->

       <div class="card m-1 shadow">
         <div class="card-header"> <i class="fas fa-code text-warning"></i> <label>Renommer un bit D.L.S</label> </div>
         <div class="card-body">

           <div class="row mb-2 align-items-center">
             <label class="col-6 col-form-label">Tech_ID</label>
             <div class="col-6">
               <input id="idDomainDLSRenameBITTechID" type="text" class="form-control" placeholder="Tech_id">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-6 col-form-label">Acronyme source</label>
             <div class="col-6">
               <input id="idDomainDLSRenameBITAcronymeOLD" type="text" class="form-control" placeholder="Acronyme source">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-6 col-form-label text-end">Acronyme destination</label>
             <div class="col-6">
               <input id="idDomainDLSRenameBITAcronymeNEW" type="text" class="form-control" placeholder="Acronyme destination">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <div class="col-sm-6 d-none d-sm-block"></div>
             <div class="col-12 col-sm-6">
               <button id="idDomainDLSRenameBITButton" type="button" class="btn w-100 btn-warning"><i class="fas fa-message"></i> Renommer BIT</button>
             </div>
           </div>

         </div>
 </div>

<!-- Encadré Maintenance Domaine ---------------------------------------------------------------------------------------------->

       <div class="card m-1 shadow">
         <div class="card-header"> <i class="fas fa-wrench text-warning"></i> <label>Maintenance Domaine</label> </div>
         <div class="card-body">

           <div class="row mb-2 align-items-center">
             <label class="col-6 col-form-label text-end">Compilation complète D.L.S</label>
             <div class="col-6">
               <button id="idDomainCompilAllButton" type="button" class="btn w-100 btn-warning"><i class="fas fa-coffee"></i> Compil All</button>
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-6 col-form-label text-end">Rechargement des Mappings I/O</label>
             <div class="col-6">
               <button id="idDomainRemap" type="button" class="btn w-100 btn-secondary"><i class="fas fa-directions"></i> Remap I/O</button>
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-6 col-form-label text-end">Rechargement des ticks Horloges</label>
             <div class="col-6">
               <button id="idDomainHorlogeReload" type="button" class="btn w-100 btn-secondary"><i class="fas fa-clock"></i> Reload Ticks</button>
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-6 col-form-label text-end">Déchargement des Visuels</label>
             <div class="col-6">
               <button id="idDomainHorlogeClearVisuel" type="button" class="btn w-100 btn-secondary"><i class="fas fa-image"></i> Unload Visuels</button>
             </div>
           </div>

         </div>
<!--
         <div class="card-footer d-flex">
              <button id="idDomainMaintenanceSaveButton" type="button" class="btn btn-success ms-auto">
                <i class="fas fa-save"></i> Save
              </button>
         </div>
-->
 </div>


<!-- Encadré Maintenance API -------------------------------------------------------------------------------------------------->

 <div class="card m-1 shadow">
         <div class="card-header"> <i class="fas fa-wrench text-danger"></i> <label>Maintenance API</label> </div>
         <div class="card-body">

           <div class="row mb-2 align-items-center">
             <label class="col-6 col-form-label text-end">Rechargement des icones en base</label>
             <div class="col-6">
               <button id="idApiReloadIcons" type="button" class="btn w-100 btn-secondary"><i class="fas fa-redo"></i> Reload</button>
             </div>
           </div>

         </div>
 </div>

<!-- Container -->
</div>
