    <div class="container">

<hr>

<!----------------------------------------------------------------------------------------------------------------------------->

       <div class="card m-1 shadow">
         <div class="card-header"> <i class="fas fa-pen text-primary"></i> <label>Configuration</label> </div>
         <div class="card-body">

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">User UUID</label>
             <div class="col-8">
               <input id="idUserUUID" disabled type="text" class="form-control" placeholder="User UUID">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">User Email</label>
             <div class="col-8">
               <input id="idUserEmail" disabled type="text" class="form-control" placeholder="User Email">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">User Name</label>
             <div class="col-8">
               <input id="idUserName" type="text" class="form-control" placeholder="User Shortname">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">Permissions level</label>
             <div class="col-8">
               <div class="input-group">
                 <div class="input-group-text"><i class="fas fa-star text-primary"></i></div>
                 <span class='form-control' id="idUserAccessLevel"></span>
               </div>
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">User Phone</label>
             <div class="col-8">
               <input id="idUserPhone" type="text" class="form-control" placeholder="User phone">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">Free SMS Api USER</label>
             <div class="col-8">
               <input id="idUserFreeSmsApiUser" type="text" class="form-control" placeholder="Free Api User to send SMS">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">Free SMS Api KEY</label>
             <div class="col-8">
               <input id="idUserFreeSmsApiKey" type="text" class="form-control" placeholder="Free Api key to send SMS">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">User XMPP</label>
             <div class="col-8">
               <input id="idUserXmpp" type="text" class="form-control" placeholder="User instant message">
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">Notifications textuelles<br><small class="text-dark">par GSM ou IMSG</small></label>
             <div class="col-8">
               <div class="form-check form-switch d-flex align-items-center min-vh-0 py-2">
                <input id="idUserWannaBeNotified" type="checkbox" class="form-check-input" role="switch">
               </div>
             </div>
           </div>

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">Commandes textuelles<br><small class="text-dark">par GSM ou IMSG</small></label>
             <div class="col-8">
               <div class="form-check form-switch d-flex align-items-center min-vh-0 py-2">
                <input id="idUserCanSendTxtCde" type="checkbox" class="form-check-input" role="switch">
               </div>
             </div>
           </div>

         </div>

         <div class="card-footer d-flex">
              <button id="idUserSaveButton" type="button" class="btn btn-primary ms-auto">
                <i class="fas fa-save"></i> Save
              </button>
         </div>

       </div>

       <div class="card m-1 border border-danger shadow">
         <div class="card-header">
           <a class="text-danger" data-bs-toggle="collapse" href="#idAdvancedOptions" role="button"><i class="fas fa-exclamation text-danger"></i> Danger Zone</a>
         </div>
         <div class="card-body collapse" id="idAdvancedOptions">

           <div class="row mb-2 align-items-center">
             <label class="col-4 col-form-label text-end">Delete User<br><small class="text-danger">Cannot be Undone</small></label>
             <div class="col-8">
               <div class="row g-2 align-items-center">
                 <div class="col">
                   <input  id="idUserDeleteText" type="text" class="form-control" placeholder="type 'ok to delete ' followed by user_uuid">
                 </div>
                 <div class="col-12 col-sm-auto">
                   <button id="idUserDeleteButton" class="btn btn-danger w-100">
                     <span id="idSpinnerDelete" class="spinner-border spinner-border-sm" style="display:none" role="status" aria-hidden="true"></span> Delete</button>
                 </div>
               </div>
             </div>
           </div>

         </div>
       </div>

<!-- Container -->
</div>
